@font-face {
  font-family: "Dolles";
  src: url("/fonts/Dolles.otf") format("opentype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Bodoni";
  src: url("/fonts/Bodoni.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "BodoniUltraItalic";
  src: url("/fonts/BodoniUltraItalic.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

html,
body {
  margin: 0;
  padding: 0;
}

.unboxed-root {
  position: sticky;
  top: 0;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  background: pink;
}

/* horizontal */
.unboxed-track {
  display: flex;
  flex-direction: row;
  width: fit-content;
  height: 100%;
}

/* each section */
/* .unboxed-section {
  position: relative;
  width: 100vw;
  height: 100vh;
  flex-shrink: 0;
  overflow: hidden;
} */
 .unboxed-section {
  width: 100vw;
  height: 100vh;
  flex-shrink: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 70px;
  padding: 0 70px;
  box-sizing: border-box;
}

.unboxed-section.left {
  flex-direction: row;
}

.unboxed-section.right {
  flex-direction: row-reverse;
}

.unboxed-section.center {
  flex-direction: column;
  text-align: center;
}

.unboxed-images {
  display: flex;
  gap: 30px;
  align-items: flex-start;
}

/* hanging wrapper */
.unboxed-hanging {
  position: relative;
}

.unboxed-swing {
  transform-origin: top center;
  animation: swing 3s ease-in-out infinite alternate;
}

/* string */
.unboxed-string {
  width: 2px;
  height: 80px;
  margin: 0 auto;
  background: rgba(0, 0, 0, 0.2);
}

/* photo */
.unboxed-photo {
  width: 280px;
  height: auto;
  display: block;
  border-radius: 6px;
  box-shadow: 0 8px 25px rgba(0,0,0,.12);
}

.unboxed-text-wrapper {
  max-width: 600px;
}

.unboxed-text {
  white-space: pre-line;
  color: black;
}

.unboxed-images {
  display: flex;
  gap: 30px;
  align-items: flex-start;
}

.title-text {
  font-family: "Dolles";
  font-size: 7rem;
  text-align: center;
}

.subtitle-text {
  font-family: "Bodoni";
  font-size: 1.8rem;
  text-align: center;
}

/* paragraph text */
.body-text {
  font-family: "Bodoni";
  font-size: 1.6rem;
  line-height: 1.6;
}

/* swing */
@keyframes swing {
  0% {
    transform: rotate(calc(var(--rotation) - 2deg))
      translateY(0px);
  }

  100% {
    transform: rotate(calc(var(--rotation) + 2deg))
      translateY(6px);
  }
}