/* src/styles/articles/look-editorial.css */
@import "./base-article.css";

.look-editorial {
    background-color: #f6eaeab0;
    min-height: 100vh;
}

.look-editorial .article-header {
    border-bottom: 2px solid #000;
    text-align: center;
}

.look-editorial .article-title {
    font-size: 4.5rem;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: -0.08em;
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    /* fallback to sans-serif for impact */
}

@media (min-width: 768px) {
    .look-editorial .article-title {
        font-size: 9rem;
    }
}

.look-editorial .article-meta {
    justify-content: center;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
}

.look-editorial .article-author::before {
    content: "A Story By ";
    font-size: 0.75rem;
    text-transform: uppercase;
    font-family: sans-serif;
    font-style: normal;
    display: block;
    letter-spacing: 0.2em;
    color: #71717a;
}